nav {
    display: flex;
    overflow: hidden;
    background-color: #25136b;
    text-align: center;
    margin: auto;
}

nav div.navItem {
    padding: 12px;
    text-align: center;
}

nav div.navItem:hover {
    background-color: #547ab5;
    text-shadow: #6599e7;
   
}

nav div.navItem a {
    color: white;
    text-decoration: none;
}

div.navItem a.navSelected {
    color: black;
    background-color: #547ab5;
    padding: 12px;
    
}