div.CardContainer {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

div.Card {
  border: 0px;
  border-radius: 4px;
  background: White;
  box-shadow: 1px -1px 29px 0px rgba(0, 0, 0, 0.29);
  position: static;
}

div.Card.Hovering {
  border-radius: 5px;
  box-shadow: 3px -4px 15px 0px rgba(0, 0, 0, 0.3);
}
