.borderlayout {
  width: 100%;
  padding: 10px 0;

  div.FormTray {
    width: 100%;
    margin-bottom: 20px;
  }
}

div.FormItem {
  margin-bottom: 20px;
  label.FormLabel {
    display: block;
    font-weight: 600;
  }

  p.FormAdvice {
    color: green;
    font-weight: 400;
    font-size: 90%;
  }

  select,
  input {
    width: 100%;
    padding: 3px;
    margin: 1px 0;
    font-size: 100%;
    border-radius: 0px;
    border: 1px solid grey;
    background: White;

    &::placeholder,
    &:disabled {
      color: Grey;
      font-weight: 300;
    }

    &:hover,
    &:focus {
      outline-width: 1px;
      outline-color: red;
      outline-style: solid;
      border-width: 1px;
      border-style: solid;
    }
    &:hover {
      border-color: grey;
      outline-color: grey;
    }
    &:focus {
      border-color: darkgreen;
      outline-color: darkgreen;
    }

    &[type="number"] {
      text-align: left;
    }

    &.FormError {
      border-color: darkred;
      outline-color: darkred;
    }
  }

  p.FormError {
    color: darkred;
    font-weight: 400;
    font-size: 90%;
  }
}

.buttonStuff {
  background-color: green;
  border-color: black;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
}
.buttonStuff:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.secondButtonStuff {
  background-color: green;
  border-color: black;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-weight: bold;
  font-size: 16.5px;
}
.secondButtonStuff:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.thirdButtonStuff {
  background-color: red;
  border-color: black;
  padding: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-weight: bold;
  font-size: 16.5px;
}
.thirdButtonStuff:hover {
  background-color: rgb(235, 91, 91); /* Green */
  color: white;
}

.FormBox {
  width: 70%;
  margin: auto;
  border: 1px solid #d1caca;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 3px 3px 8px #888888;
  border-radius: 4px;
}
